
@{
    ViewData["Title"] = "Home Page";
}

<div class="shortener-form-wrap">
    <section class="shortener-form">
        <h2 style="font-family: Arial">Enter your link below to shorten it</h2>
        <div class="input-wrap">
            <input type="text" name="url" id="urlshort" placeholder="Shorten your URL" /><button id="submit">Shorten</button>
        </div>
        <div class="resp-area inactive" id="resp-area">

        </div>
    </section>
</div>

    <h1><a href="#" id="resultText" target="_blank"> </a></h1>